# Encoding: utf-8

Bouncefetch.configure do
  # Header which identifies bounce emails and references a client.
  # If you don't want or can't use this method be sure to review the
  # search options at the bottom. See README.md for more info on this.
  set :identification_header, "X-My-Unique-Ref-ID"


  # General settings (application behaviour, debug, etc.)
  group :general do
    # Remove successfully processed emails (unless -d or --dryrun).
    # There isn't really a reason to turn it off unless for testing.
    set :remove_processed, true

    # Define the amount of processed mails after which the script invokes the expunge command
    # on the IMAP server which will delete emails flagged for deletion.
    #
    # Set to 0 to disable expunge commands while processing (it will be called on exit or mailbox
    # change anyway. When --dryrun is given no expunge will be invoked at all.
    set :expunge_rate, 250
  end


  # IMAP account and search settings
  group :imap do
    set :hostname, "imap.example.com"
    set :username, "moep@example.com"
    set :password, "asdasd"
    # set :ssl,      true # default: false
    # set :port,     993 # default is 143 for non-SSL and 993 for SSL
    # set :use_auth, false # try setting this to false if you keep getting ECONNREFUSED errors

    # Mailboxes which should be processed (run with --mailboxes to get a list)
    set :mailboxes, [
      "INBOX",
    ]

    # IMAP search queries. Mails not matching any query won't be processed or deleted.
    # Feel free to add or remove entries and consider contributing it to the project.
    set :queries, [
      ["HEADER", "X-Failed-Recipients", ""],
      ["HEADER", "Auto-Submitted", "auto-replied"],
      ["HEADER", "Auto-Submitted", "auto-replied (rejected)"],
      ["HEADER", "Subject", "Delivery status notification"],
      ["HEADER", "Subject", "Delivery Status Notification (Failure)"],
      ["HEADER", "Subject", "Undelivered Mail Returned to Sender"],
      ["HEADER", "Subject", "Returned mail: see transcript for details"],
      ["HEADER", "Subject", "failure notice"],
      ["HEADER", "Subject", "Mail delivery failed"],
      ["HEADER", "Subject", "Unzustellbar:"],
      ["HEADER", "From", "MAILER-DAEMON@"],
      ["HEADER", "From", "postmaster@"],
    ]
  end


  # Settings for the registry which keeps track of the clients.
  group :registry do
    set :file, "registry.dat"

    # After how many days should we forget clients?
    # Dont set this too high or temporary failures will accumulate.
    # Dont set this too low or failures will never trigger your limits
    # depending on how many emails you send.
    set :client_lifetime, 30
  end


  # Decide how bounce types should be handled (leave/ignore/soft/hard)
  #   leave => leave file despite setting
  #   ignore => remove file (unless disabled) but ignore bounce in general
  #   soft/hard => increase client bounce count
  #   soft?/hard? => increase client bounce count but ignore missing references
  group :cause_mapping do
    # ignore rule
    set :ignore, "ignore"

    # out of office mails
    set :out_of_office, "ignore"

    # quota exceeded/full mailbox
    set :quota_exceeded, "ignore"

    # recipient not found
    set :recipient_unknown, "hard?"

    # permanently rejected
    set :permanently_rejected, "hard"

    # other permanent errors
    set :permanent_error, "hard"

    # misc errors usually caused by misconfigured servers
    set :misc_errors, "soft"
  end


  # Decide when a client should be treated as unreachable.
  # The strategy can be "day" or "any". The former means that
  # we treat multiple bounces per day as one bounce and with
  # the latter we count all bounces. If you omit it we use "any".
  group :limits do
    set :soft, 4 => :day
    set :hard, 1 => :any
  end
end
